*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ponto{
    position: absolute;
    height: auto;
    width: auto;
    top: 20px;
    left: 20px;
}
.game-board2{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgb(0, 0, 0), #2e2e2e);
   /* background: linear-gradient(#87ceeb, #e0f6ff);*/
}
.pipe{
    position: absolute;
    bottom: -10px;
    width: 80px;
    animation: pipe-animation 1s infinite linear;
}
.cactos{
    position: absolute;
    bottom: 0;
    height: 210px; 
    width: 500px;
    animation: cactos-animation 10s infinite linear;
}
.passaros{
    position: absolute;
    max-width: 100%;
    top: 90px;
    height: 100px;
    animation: passaros-animation 10s infinite linear;
}
.sol{
    position: absolute;
    right: 20px;
    width: 15%;
}
.nuvens{
    position: absolute;
    animation: nuvens-animation 20s infinite linear;
    width: 500px;
}
.mario{
    position: absolute;
    bottom: -10px;
    width: 150px;
}
.jump{
    animation: jump 500ms ease-out;
}
@keyframes passaros-animation {
    from{
        right: -500px;
    }
    to {
        right: 100%;
    }
}
@keyframes arvores-animation {
    from{
        right: -1200px;
    }
    to {
        right: 100%;
    }
}
@keyframes cactos-animation {
    from{
        right: -500px;
    }
    to {
        right: 100%;
    }
}
@keyframes nuvens-animation {
    from{
        right: -500px;
    }
    to {
        right: 100%;
    }
}
@keyframes pipe-animation {
    from{
        right: -80px;
    }
    to {
        right: 100%;
    }
}
@keyframes jump {
    0%{
        bottom: 0;
    } 
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px; 
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}
